@use './variable' as *;
@use './mixin' as *;

// header
header{
    padding: $basic * 7 0 $basic * 2;
    position: relative;
    background-color: $back;
}


.bottom{
    > h1{
        margin-bottom: $basic * 5;
        @include center;
    }
    > nav{
        ul{
            @include layout($start:center);
            li{
                margin: 0 $basic *3;
                padding-bottom: $basic;
                position: relative;
                a{
                    font-size: $small;
                    color: $darken;
                }
                span{
                    position: absolute;
                    left: 0; bottom: 0px;
                    width: 100%; height: 1px;
                    background-color: transparent;
                }
                &:hover{
                    span{
                        background-color: $darken;
                    }
                }
            }
        }
    }
}


.top{
    padding: $basic + 6 0 $basic;
    background-color: $white;
    width: $full;
    position: absolute;
    left: 0;top: 0;
    p{
        width: $content;
        @include margin;
        a{
            font-size: $small;
            color: $color;
        }
    }
}